<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="UserinfoServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:6405/UserinfoService.asmx"
                binding="basicHttpBinding" bindingConfiguration="UserinfoServiceSoap"
                contract="UserinfoService.UserinfoServiceSoap" name="UserinfoServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>